fastapi
uvicorn
pymongo
python-dotenv
PyMuPDF
pandas
python-multipart
faiss-cpu
google-generativeai
google-genai
numpy
pinecone
pdfplumber
bcrypt
python-jose[cryptography]
email-validator
cloudinary
requests
google-auth