fastapi
uvicorn
pymongo
python-dotenv
PyMuPDF
python-multipart
langchain-text-splitters
google-generativeai
google-genai
numpy
pinecone
bcrypt
python-jose[cryptography]
email-validator
cloudinary
requests
google-auth